/* article.teamItem*3>img>h3.h3{Text $}>div{aaa $} */
/* START HEADER */
.borderBott {
	border-bottom: 2px solid rgb(241, 235, 235);
	box-shadow: 0 3px 10px rgb(197, 193, 193);
}

.header {
	background: url(/refhW6/img/sectionWork/Warhammer-40-000-Blood-Angels-Video-Game-Art-2073611.jpg)
		no-repeat top;
}

.headerMenu {
	margin: 5% 0;
	padding: 50px 0;
	color: rgb(0, 0, 0);
	background: rgba(185, 189, 138, 0.24);
}

.headerLogo {
	display: flex;
	align-items: center;
}

.headerLogo div {
	margin: 0 8px;
}

.navItem {
	display: inline-block;
	margin: 0 var(--offset);
}

.navItem:last-child {
	margin-right: 0px;
}

.headerMenu {
	justify-content: space-between;
}
/* END HEADER */

/* START MAIN */
/* start sectionServ */
.sectionServ {
	text-align: center;
	margin-bottom: 7.5rem;
}

.servText {
	margin: 50px 0;
	color: var(--green);
}

.servSmalltext {
	margin: 0;
}
/* end sectionServ */

/* start sectionInfo */
.sectionInfo {
	margin-bottom: 7.5rem;
}

.infoCard {
	width: calc(100% / 3 - var(--offset) * 2);
}

.cardText {
	max-width: 330px;
}
/* end sectionInfo */

/* start sectionWork */
.sectionWork {
	background: url(/refhW6/img/sectionWork/Warhammer-40-000-Blood-Angels-Video-Game-Art-2073611.jpg)
		no-repeat bottom;
	margin-bottom: 7.5rem;
	position: relative;
}

.sectionWork::before {
	/* затемнение фона */
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 100%;
	height: 100%;
}

.sectionWork .container {
	/* выводим контейнер с содержимым на передний план */
	position: relative;
	z-index: 2;
}

.sectionWork h2 {
	text-align: center;
	color: #fff;
}

.workItems {
	margin-bottom: 3rem;
}

.item {
	width: calc(100% / 2 - var(--offset) * 2);
}

.item p {
	color: #fff;
	margin: 0;
	/* font-size: 1.4rem; */
}

.itemTitle {
	color: var(--green);
}

.itemTitle::before {
	content: url(/refhW6/img/sectionWork/.png);
}
/* end sectionWork */

/* start sectionTestim */
.sectionTestim {
	margin-bottom: 13rem;
}

.sectionTestim h2 {
	text-align: center;
	color: #333;
	margin-bottom: 8rem;
}

.personCard {
	width: calc(100% / 3 - var(--offset) * 2);
}

.personImg {
	width: 131px;
	height: 131px;
	margin-bottom: 2rem;
}

.imgPic {
	width: 131px;
	height: 131px;
	border-radius: 50%;
}

.personText {
	margin-bottom: 1rem;
}

.personName {
	color: #333;
	margin-bottom: 0.5rem;
}

.personProfession {
	color: var(--green);
}
/* end sectionTestim */

/* start sectionGallery */
.gallery {
	/* можно изменить переменную --offset локально */
	--offset: 2px;
}

.galleryItem {
	width: calc(100% / 3 - var(--offset) * 2);
}

.galleryItem img {
	display: block;
}
/* end sectionGallery */
/* END MAIN */

/* START FOOTER */
.footerItems {
	text-align: center;
}
/* END FOOTER */

@media screen and (max-width: 850px) {
	.infoCard {
		width: calc(100% / 2 - var(--offset) * 2);
	}

	.personCard {
		width: calc(100% / 2 - var(--offset) * 2);
	}

	.galleryItem {
		width: calc(100% / 2 - var(--offset) * 2);
	}
}

@media screen and (max-width: 825px) {
	.headerMenu {
		justify-content: center;
	}
}

@media screen and (max-width: 700px) {
	.cardText {
		max-width: 605px;
	}

	.infoCard {
		width: calc(100% - var(--offset) * 2);
	}

	.item {
		width: calc(100% - var(--offset) * 2);
	}

	.personCard {
		width: calc(100% - var(--offset) * 2);
	}

	.galleryItem {
		width: calc(100% - var(--offset) * 2);
	}
}

@media screen and (max-width: 625px) {
	.headerMenu {
		display: block;
		padding: 0;
		background: rgba(107, 104, 104, 0);
	}

	.headerLogo {
		justify-content: center;
		margin: 0;
	}

	.headerNav {
		margin: 0;
	}

	.navItem {
		display: block;
		width: 100%;
		margin: 10px 0;
		padding: 10px;
		color: rgb(255, 255, 255);
		background-color: rgba(139, 138, 138, 0.2);
		box-sizing: border-box;
	}
}
