/* START HEADER */
.borderBott {
	border-bottom: 2px solid rgb(241, 235, 235);
	box-shadow: 0 3px 10px rgb(197, 193, 193);
}

.header {
	margin-bottom: 50px;
}

.headerMenu {
	color: rgb(0, 0, 0);
	padding: 10px 0;
}

.headerLogo {
	display: flex;
	align-items: center;
}

.headerLogo p {
	margin: 0 8px;
}

.navItem {
	display: inline-block;
	margin: 0 var(--offset);
}

.navItem:last-child {
	margin-right: 0px;
}

.headerMenu {
	justify-content: space-between;
}
/* END HEADER */

/* START MAIN */
/* start block1 */
.card1 {
	margin-bottom: 50px;
	justify-content: space-between;
	--offset: 10px;
}

.card1-img {
	width: calc(90% / 2 - var(--offset) * 2);
}

.card1-info {
	width: calc(90% / 2 - var(--offset) * 2);
}

.card1-info .h2 {
	margin-top: 0;
}

.card1-info__text {
	margin-bottom: 20px;
}
/* end block1 */

/* start block2 */
.block2 {
	padding-top: 35px;
	margin-bottom: 100px;
}

.card2 {
	width: calc(100% / 3 - var(--offset) * 2);
}

.card2-img {
	width: 90px;
	height: 75px;
}

.card2-text {
	margin-bottom: 40px;
}

/* end block2 */

/* start block3 */
.block3 {
	margin-bottom: 60px;
}

.card3-title {
	margin-top: 0;
}
/* end block3 */

/* start block4 */
.block4 {
	margin-bottom: 100px;
}

.block4-mini {
	display: flex;
	width: calc(100% / 2 - var(--offset) * 2);
}

.mini4-img {
	width: 130px;
	height: 130px;
	margin-right: 20px;
	background: rgba(77, 182, 119, 1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini4-info {
	width: calc(100% - 150px);
}

.mini4-title {
	margin-top: 0;
}
/* end block4 */

/* start block5 */
.block5 {
	margin-bottom: 100px;
}

.block5 .h1 {
	font-size: 4rem;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.mini5 {
	width: calc(100% / 3 - 30px);
	text-align: center;
}
/* end block5 */
/* END MAIN */

/* START FOOTER */
.footer-info {
	text-align: center;
}
/* END FOOTER */

/* @media screen and (max-width: 1090px) {
	.card1 {
		justify-content: center;
	}
	.card1-info {
		width: 500px;
	}
} */

@media screen and (max-width: 1000px) {
	.card1-img {
		width: calc(100% / 2 - var(--offset) * 2);
	}

	.card1-info {
		width: calc(100% / 2 - var(--offset) * 2);
	}
}

@media screen and (max-width: 890px) {
	.card1 {
		--offset: 2px;
	}

	.card1-img {
		width: calc(55% - var(--offset) * 2);
		margin: 5% 0;
	}

	.card1-info {
		width: calc(40% - var(--offset) * 2);
	}
}

@media screen and (max-width: 800px) {
	.header {
		margin-bottom: 0px;
	}

	.headerMenu {
		justify-content: center;
	}

	.card1 {
		display: block;
		margin-bottom: 50px;
	}

	.card1-img {
		width: 100%;
	}

	.card1-info {
		width: 100%;
	}

	.block2 {
		margin-bottom: 50px;
	}

	.card2 {
		width: calc(100% - var(--offfset) * 2);
		margin-bottom: 25px;
	}

	.card2-text {
		margin-bottom: 20px;
	}

	.block4-mini {
		width: calc(100% - var(--offset) * 2);
	}

	.block5-mini {
		justify-content: center;
	}

	.mini5 {
		width: calc(60% - var(--offset) * 2);
	}
}

@media screen and (max-width: 700px) {
	.mini5 {
		width: calc(70% - var(--offset) * 2);
	}
}

@media screen and (max-width: 600px) {
	.mini5 {
		width: calc(100% - var(--offset) * 2);
	}
}

@media screen and (max-width: 500px) {
	.block4-mini {
		display: inline-block;
		width: calc(100% - var(--offset) * 2);
	}

	.mini4-img {
		margin: 0 auto;
	}

	.mini4-info {
		/* margin: 0 auto; */
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 625px) {
	.headerMenu {
		display: block;
		padding: 0 5px;
		background: rgba(107, 104, 104, 0);
	}

	.headerLogo {
		justify-content: center;
		margin: 0;
	}

	.headerNav {
		margin: 0;
	}

	.navItem {
		display: block;
		width: 100%;
		margin: 10px 0;
		padding: 10px;
		color: rgb(0, 0, 0);
		background-color: rgba(139, 138, 138, 0.2);
		box-sizing: border-box;
	}
}
