/* article.teamItem*3>img>h3.h3{Text $}>div{aaa $} */
/* START HEADER */
.headerMenu {
	padding: 2.5rem 0;
	color: rgb(0, 0, 0);
}

.navItem {
	display: inline-block;
	margin: 0 3rem;
}

.headerMenu {
	justify-content: space-between;
}

.searchBtn {
	border: 0;
	padding: 0;
	margin: 0 1.1rem;
	background-color: transparent;
	cursor: pointer;
}

.searchBtn:last-child {
	margin-right: 0;
}
/* END HEADER */

/* START MAIN */
/* start sectionSummer*/
.sectionSummer {
	background: url(../img/elipse_main.png) no-repeat center;
}

.summerInfo {
	justify-content: center;
	align-items: center;
}

.summerText {
	width: calc(80% / 2 - var(--offset) * 2);
}

.summerText h1 {
	margin: 0;
	/* display: inline-block; */
	font-weight: 400;
	position: relative;
	left: -55px;
}

.summerText h1::before {
	content: "";
	border: 1px solid #8b8371;
	width: 50px;
	height: 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -15px;
}

.summerText h2 {
	margin-bottom: 4rem;
}

.summerText p {
	margin: 0;
	width: 260px;
	margin-bottom: 6.5rem;
}
/* end sectionSummer */

/* start sectionModels */
.modelTitle {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.modelTitle h2 {
	width: 100%;
	text-align: center;
}

.modelBtn {
	padding: 0;
	width: 10.5rem;
	height: 2.6rem;
	background-color: transparent;
	cursor: pointer;
	border: 0;
}

.watchItem {
	background: #fdfdfb;
	width: calc(100% / 3 - var(--offset) * 2);
}

.item {
	padding: 7.5rem 2.8rem;
}

.itemTitle {
	font-size: 16px;
	font-weight: 700;
	margin-left: 1.4rem;
}

.itemBack {
	/* background: #e2d0c4; */
	background: linear-gradient(145deg, #e2d0c41a, #e6b59638);
	border: 1px solid #e2d0c433;
	border-radius: 50%;
	margin-bottom: 1.5rem;
}

.itemDetail {
	position: relative;
	margin-left: 25px;
	cursor: pointer;
}

.itemDetail::before {
	content: "";
	border: 0.5px solid #8b8371;
	width: 30px;
	height: 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -15px;
}

/* end sectionModels */

/* start sectionQuality */
.sectionQuality {
	margin-bottom: 13rem;
}

.qualityDetail {
	justify-content: center;
	align-items: center;
}

.qualityImg {
	margin-right: 2.5rem;
	width: calc(90% / 2 - var(--offset) * 2);
}

.qualityInfo {
	width: calc(60% / 2 - var(--offset) * 2);
}

.qualityInfo p {
	margin: 0;
	max-width: 375px;
	margin-bottom: 45px;
}

.btnColor {
	background: #d4b098;
}
/* end sectionQuality */
